* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
header{
    text-align: center;
    font-size: 3rem;
    background-color: white;
    border-bottom: 2px solid black;
}
#container{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
#container > input{
    margin-left: 1rem;
    margin-right: 3rem;
    border-radius: 1ch;
    padding-left: 1rem;
}
#container >button{
    background-color: white;
    width: 5rem;
    border-radius: 1ch;
}
#container2 {
    display: flex;
    font-size: 3rem;
    justify-content: space-around;
    margin-top: 4rem;
    height: 40rem;
}
body{
    background-color: steelblue;
}
h1{
    color: black;
}

#vent, #Ciel, #temperature, #humidity {
    display: flex;
    flex-direction: column;
    width: 27rem;
    border: 1px solid black;
    align-items: center;
    border-radius: 1ch;
    box-shadow: 3px 3px 3px black;
    background-color: white;
}

@media screen and (max-width: 600px){
    #container2{
    display: flex;
    flex-direction: column;
    height: 100rem;
    align-items: center;
}
    #vent, #Ciel, #temperature, #humidity {
        display: flex;
        flex-direction: column;
        width: 90%;
        border: 1px solid black;
        align-items: center;
        border-radius: 1ch;
        box-shadow: 3px 3px 3px black;
        height: 20rem;
        background-color: white;
    }

    body{
        background-color: steelblue;
        border-bottom: 2px solid black;
    }
    label{
        color: white;
        margin-left: 5px;
    }
    button{
        margin-right: 5px;
    }
}
